# rename this file to be .env

# hostname that is registered with DNS. This is used to generate the callback URL
SERVER_NAME="criticalmaas.ncsa.illinois.edu"

# email address for registration with letsencrypt
TRAEFIK_ACME_EMAIL="cert@example.com"

# the token that is used to authenticate with the CDR
CDR_TOKEN="this_is_a_really_silly_token"

# the path for the callback URL
CALLBACK_PATH=/hook
# the secret that is used to hash the data and is used to verify the callback
CALLBACK_SECRET="this_is_a_really_silly_secret"
# username and password for basic auth.
CALLBACK_USERNAME=""
CALLBACK_PASSWORD=""

# username and password to connect to rabbitmq
RABBITMQ_MGMT_URL="http://rabbitmq:15672/"
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"
