flask
waitress
flask_httpauth
requests
pika
dotenv
pydantic
geopandas
rasterio
git+https://github.com/DARPA-CRITICALMAAS/cdr_schemas.git@v0.3.3

--extra-index-url https://test.pypi.org/simple/
cmaas_utils>=0.1.9