flask
waitress
flask_httpauth
requests
pika
python-dotenv 
pydantic
geopandas
rasterio
git+https://github.com/DARPA-CRITICALMAAS/cdr_schemas.git@v0.4.9

--extra-index-url https://test.pypi.org/simple/
cmaas_utils==0.2.1
